<%= form_for(product, html: {class: 'form-horizontal'}) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p><%= pluralize(product.errors.count, 'erro impediu', 'erros impediram') %> que o produto fosse salvo:</p>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :category, class: 'form-control', placeholder: 'Criar Categoria' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Título do item a ser criado' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :price, class: 'form-control', placeholder: 'R$ 99.99'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.file_field :image, class: 'form-control', placeholder: 'Selecionar imagem'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Produto em Macramẽ com pedras...'  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', products_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
