<% if (n = notice).present? %><p class="alert alert-warning"><%= n %></p><% end %>

<h1>
  Produtos:

  &nbsp;
  <%= link_to new_product_path, class: 'btn btn-sm btn-primary' do %>
    <i class="fa fa-plus"></i> Adicionar
  <% end %>
  <%= link_to root_path, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-home"> Home</span>
  <% end %>


</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Título</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image, class: 'product-image' %></td>
        <td><%= product.title %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.category %></td>
        <td nowrap>
          <%= link_to edit_product_path(product), class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-edit"></i> Editar
          <% end %>
          <%= link_to product, method: :delete, data: { confirm: 'Você tem certeza de que deseja remover este item?' }, class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-trash"></i> Remover
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

