<div id="products">
  <% @products.in_groups_of(4, false).each do |products_group| %>

    <div class="row">
      <% products_group.each do |product| %>
        <div class="col-md-3">
          <div class="product">
            <%= image_tag product.image %>
            <div class="category">
              <span class="label label-warning"><%= product.category %></span>
            </div>
            <div class="title">
              <%= link_to product.title, controller: :store, action: :product, id: product.id %>
            </div>
            <div class="price">
              <%= number_to_currency product.price %>
            </div>
            <div class="buy">
              <%= link_to 'Comprar', {controller: :store, action: :product, id: product.id}, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
